<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Folders2Md5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
    <userSettings>
        <Folders2Md5.Properties.Settings>
            <setting name="InitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNameFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="Accent" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
        </Folders2Md5.Properties.Settings>
    </userSettings>
</configuration>